<html>
    <head>
        <title>로또 번호 추출기</title>
    </head>
    <body>
        <h1>로또 번호 추출기</h1>
        <form action="/">
            <table>
                <tr>
                    <td>로또 번호를 받아보세요!</td>
                </tr>
                <tr>
                    <td><input type="submit" value="로또번호 추출하기"></td>
                </tr>
            </table>
            <tr>
                <br/>
                로또 번호 : {{ random_list }}
            </tr>
        </form>
    </body>

</html>